<%= render layout: 'layouts/html_code', object: component do %>
<<%= '%' %>= form_for(<%= resource.name %>) do |f| %>
  <<%= '%' %> if <%= resource.name %>.errors.any? %>
    <div id="error_explanation">
      <h2><<%= '%' %>= pluralize(<%= resource.name %>.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <<%= '%' %> <%= resource.name %>.errors.full_messages.each do |message| %>
        <li><<%= '%' %>= message %></li>
      <<%= '%' %> end %>
      </ul>
    </div>
  <<%= '%' %> end %>

<% resource.attributes.each do |attribute, type| %>
  <div class="field">
    <<%= '%' %>= f.label <%= attribute %> %>
    <<%= '%' %>= f.<%= data_type_to_dropdown(type) %> <%= attribute %> %>
  </div>

<% end %>

  <div class="actions">
    <<%= '%' %>= f.submit %>
  </div>
<<%= '%' %> end %>
<% end %>
